// Specific CSS for your home-page


.home-banner {

  background: image-url('banner.png') ;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}


// home page container with padding
.home-page {
  background-size: contain;
  padding: 40px;
}

@media(max-width: 992px) {
  .home-page {
    background-size: contain;
    padding: 10px;
  }
}

@media(max-width: 768px) {
  .home-page {
    background-size: contain;
    padding: 10px;
  }
}





.home-page-container {
  text-align: center;
  padding: 20px 0px;
}


.row.cards-container {
  display: inline-flex;
  margin: 0 10px;
}
