// Specific CSS for your home-page

.home-banner {

 background: image-url('banner.png') ;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}


.home-page {
  background-size: contain;
}

