.ingredient-show-main-container {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  background-color: white;
  // height: 100vh;
      max-height: 200px;
      width: 100%;


}

.ingredient-show-card {
  border-radius: 0.6;
  width: 600px;
  // box-shadow: 3px 3px 6px $light-gray;
  height: min-content;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  display: flow-root;
  // padding: 20px;


  p {
    padding: 10px;
    margin: 0;
    color: black;

  }
}



.ingredients-container {
  font-size: 14px;
   text-align: center;
  display: table-caption;
  justify-content: center;
}




.recipe_image {
  margin: 30px;
}





.ingredients-display-ingredient-show {

display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 35px;
// grid-template-columns: minmax(100px, max-content)
//                        repeat(auto-fill, 100px) 20%;
  justify-content: space-around;

 a:hover {
  text-decoration: none;
 }
}
