


<div class="new-on-youtube-home">
  <% @hacks.each do |hack| %>
  <div>
    <iframe width="490" height="275" src="<%= hack.youtube_url %>" frameborder="0" allowfullscreen ></iframe>
  </div>
  <% end %>
</div>




