<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>© 2020 Copyright | Designed and Developed by Tiffany Charles</small>
    </div>
  </footer>
