
  <div class="container">

      <div class="cards">

        <div class="card">
        <%= link_to hacks_path do %>
          <div class="card-body">
            <div class="card-picture" style="background-image: url('')">
              <div class="card-hover">
                <h4>Hacks</h4>
              </div>
            </div>
          </div>
           <% end %>
        </div>

        <div class="card">
          <%= link_to ingredients_path do %>
          <div class="card-body">
            <div class="card-picture" style="background-image: url('')">
              <div class="card-hover">
                <h4>Ingredients</h4>

              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="card">
          <%= link_to recipes_path do %>
          <div class="card-body">
            <div class="card-picture" style="background-image: url('')">
              <div class="card-hover">
                <h4>Recipes</h4>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>


