
  <div class="container">

      <div class="cards">
        <div class="card">
          <div class="card-body">
            <div class="card-picture" style="background-image: url('')">
              <div class="card-hover">
                <h4>Recipes</h4>
              </div>
            </div>

          </div>

        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-picture" style="background-image: url('')">
              <div class="card-hover">
                <h4>Ingredients</h4>

              </div>
            </div>

          </div>

        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-picture" style="background-image: url('')">
              <div class="card-hover">
                <h4>Preserevation Hacks</h4>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


