<h1>Editing Ingredient Preservation</h1>

<%= render 'form', ingredient_preservation: @ingredient_preservation %>

<%= link_to 'Show', @ingredient_preservation %> |
<%= link_to 'Back', ingredient_preservations_path %>
